{% extends 'GitPhpBundle:Main:base.html.twig' %}


{% block body %}

    {#{{ filesList }}#}
    {#{{ status }}#}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Added <strong>{{ fileDataArray.fileName }}</strong> file to repo!</h2>
            </div>
            <div class="col-lg-12">
                <pre>{{ fileDataArray.fileBody }}</pre>
            </div>
            <div class="col-lg-12 text-center">
                <h1><i class="fa fa-check-circle-o fa-3x text-success" aria-hidden="true"></i></h1>
            </div>
        </div>
    </div>




{% endblock %}