{% extends 'GitPhpBundle:Main:base.html.twig' %}


{% block body %}

    {#{{ filesList }}#}
    {#{{ status }}#}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if filesList %}
                    <div class="files-list">
                        <ul>
                            {% for key,file in filesList %}
                                {% if file is iterable %}
                                    {% include "GitPhpBundle:Main:tree.html.twig" with {'file': file, 'parent': key} %}
                                {% else %}
                                    <li data-path="{{ file }}">{{ file }}</li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}