<nav>
    <div class="container">

        <div class="row nav">

            <div class="col-sm-2">
                <a class="navbar-logo" href="/">
                    <i class="fa fa-code-fork" aria-hidden="true"></i> GitPhp
                </a>
            </div>
            <div class="col-sm-10">

                <div class="pull-right">
                    <button class="btn btn-default" data-toggle="modal"
                            data-target="#addFileModal" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add file
                    </button>
                    <a class="btn btn-default" href="{{ path('gitphp_main_list') }}" role="button"><i
                                class="fa fa-list" aria-hidden="true"></i> List files</a>
                    <button class="btn btn-success" data-toggle="modal"
                            data-target="#commitModal" role="button">
                        <i class="fa fa-git" aria-hidden="true"></i> Commit files
                    </button>
                    <button id="mergeRequestButton" class="btn btn-info" data-toggle="modal"
                            {% if app.request.get('_route') != 'gitphp_main_list' %}disabled="disabled"{% endif %}
                            role="button">
                        <i class="fa fa-code-fork" aria-hidden="true"></i> Merge request
                    </button>

                </div>
            </div>
        </div>

    </div>
</nav>

